# Import dataset

In [15]:
import pandas as pd
df = pd.read_csv('churn_dataset.csv')
df

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,No,Yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
3329,WV,68,415,No,No,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
3330,RI,28,510,No,No,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
3331,CT,184,510,Yes,No,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False
3332,TN,74,415,No,Yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State                   3333 non-null   object
 1   Account length          3333 non-null   int64
 2   Area code               3333 non-null   int64
 3   International plan      3333 non-null   object
 4   Voice mail plan         3333 non-null   object
 5   Number vmail messages   3333 non-null   int64
 6   Total day minutes       3333 non-null   float64
 7   Total day calls         3333 non-null   int64
 8   Total day charge        3333 non-null   float64
 9   Total eve minutes       3333 non-null   float64
 10  Total eve calls         3333 non-null   int64
 11  Total eve charge        3333 non-null   float64
 12  Total night minutes     3333 non-null   float64
 13  Total night calls       3333 non-null   int64
 14  Total night charge      3333 non-null   float64
 15  Total intl minutes      3333 non-null   float64
 16  Total intl calls        3333 non-null   int64
 17  Total intl charge       3333 non-null   float64
 18  Customer service calls  3333 non-null   int64
 19  Churn                   3333 non-null   bool
dtypes: bool(1), float64(8), int64(8), object(3)
memory usage: 498.1+ KB

## String to numeric value

In [17]:
df = df.replace({True: 1, False: 0})
df = df.replace({'Yes': 1, 'No': 0})

In [18]:
df

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,0,1,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,OH,107,415,0,1,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,NJ,137,415,0,0,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,OH,84,408,1,0,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,OK,75,415,1,0,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,0,1,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,0
3329,WV,68,415,0,0,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,0
3330,RI,28,510,0,0,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,0
3331,CT,184,510,1,0,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,0
3332,TN,74,415,0,1,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,0

## Normalisasi

**Normalisasi data dengan Z-score**
$$ X(stand) = \frac{x - mean (x)}{std_\text{dev}} $$
dimana $${mean = 0}, {std_\text{dev}} = 1 $$

In [26]:
def normalize(data, i):
    # Initialize a list to store the means of each column
    means = [0] * i
    # Initialize a list to store the standard deviations of each column
    stds = [1] * i
    # Loop through the columns
    for j in range(i):
        # Compute the mean of the column
        mean = data.iloc[:, j].mean()
        # Compute the standard deviation of the column
        std = data.iloc[:, j].std()
        # Store the mean and standard deviation
        means[j] = mean
        stds[j] = std
    # Loop through the rows
    for index in data.index:
        # Loop through the columns
        for j in range(i):
            # Normalize the value by subtracting the mean and dividing by the standard deviation
            data.loc[index, data.columns[j]] = (data.loc[index, data.columns[j]] - means[j]) / stds[j]
    # Return the normalized data
    return data

In [28]:
# Get data needs to be normalized
features_to_norm = ['Total day minutes','Total day calls','Total day charge','Total eve minutes','Total eve calls','Total eve charge','Total night minutes','Total night calls','Total night charge','Total intl minutes','Total intl calls','Total intl charge','Customer service calls']
normalized = df [features_to_norm]
i = normalized.shape[1]
normalized = normalize(normalized,i)
print(normalized)
# Put it back to df
df = df.drop(features_to_norm, axis=1)
df = pd.concat([df, normalized], axis=1)

      Total day minutes  Total day calls  Total day charge  Total eve minutes  \
0              1.566532         0.476572          1.566801          -0.070599
1             -0.333688         1.124334         -0.333963          -0.108064
2              1.168128         0.675883          1.168289          -1.573147
3              2.196267        -1.466716          2.196429          -2.742453
4             -0.240054         0.626055         -0.240005          -1.038776
...                 ...              ...               ...                ...
3328          -0.432830        -1.167749         -0.433321           0.286305
3329           0.942305        -2.164306          0.942573          -0.938212
3330           0.018817         0.426744          0.019190           1.731670
3331           0.624684         0.227432          0.625059          -0.815958
3332           1.002892         0.626055          1.003052           1.280117

      Total eve calls  Total eve charge  Total night minutes  \
0           -0.055932         -0.070416             0.866613
1            0.144845         -0.107533             1.058412
2            0.496204         -1.573664            -0.756756
3           -0.608068         -2.742856            -0.078539
4            1.098534         -1.037784            -0.276270
...               ...               ...                  ...
3328         1.299311          0.286837             1.546807
3329        -2.264476         -0.938031            -0.189269
3330        -2.113894          1.732089            -0.177405
3331        -0.808845         -0.815080            -1.219445
3332        -0.909233          1.279723             0.801362

      Total night calls  Total night charge  Total intl minutes  \
0             -0.465425            0.865899           -0.084995
1              0.147802            1.059231            1.240296
2              0.198905           -0.755457            0.703015
3             -0.567629           -0.078794           -1.302831
4              1.067643           -0.276520           -0.049177
...                 ...                 ...                 ...
3328          -0.874243            1.546956           -0.120814
3329           1.169848           -0.188642           -0.228270
3330          -0.465425           -0.175460            1.383570
3331           1.885279           -1.221213           -1.875929
3332          -1.180856            0.799990            1.240296

      Total intl calls  Total intl charge  Customer service calls
0            -0.601105          -0.085678               -0.427868
1            -0.601105           1.240982               -0.427868
2             0.211502           0.697052               -1.188040
3             1.024109          -1.306205                0.332305
4            -0.601105          -0.045878                1.092477
...                ...                ...                     ...
3328          0.617806          -0.125477                0.332305
3329         -0.194801          -0.231610                1.092477
3330          0.617806           1.386915                0.332305
3331          2.243020          -1.876669                0.332305
3332         -0.194801           1.240982               -1.188040

[3333 rows x 13 columns]

In [29]:
df

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Churn,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls
0,KS,128,415,0,1,25,0,1.566532,0.476572,1.566801,-0.070599,-0.055932,-0.070416,0.866613,-0.465425,0.865899,-0.084995,-0.601105,-0.085678,-0.427868
1,OH,107,415,0,1,26,0,-0.333688,1.124334,-0.333963,-0.108064,0.144845,-0.107533,1.058412,0.147802,1.059231,1.240296,-0.601105,1.240982,-0.427868
2,NJ,137,415,0,0,0,0,1.168128,0.675883,1.168289,-1.573147,0.496204,-1.573664,-0.756756,0.198905,-0.755457,0.703015,0.211502,0.697052,-1.188040
3,OH,84,408,1,0,0,0,2.196267,-1.466716,2.196429,-2.742453,-0.608068,-2.742856,-0.078539,-0.567629,-0.078794,-1.302831,1.024109,-1.306205,0.332305
4,OK,75,415,1,0,0,0,-0.240054,0.626055,-0.240005,-1.038776,1.098534,-1.037784,-0.276270,1.067643,-0.276520,-0.049177,-0.601105,-0.045878,1.092477
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,0,1,36,0,-0.432830,-1.167749,-0.433321,0.286305,1.299311,0.286837,1.546807,-0.874243,1.546956,-0.120814,0.617806,-0.125477,0.332305
3329,WV,68,415,0,0,0,0,0.942305,-2.164306,0.942573,-0.938212,-2.264476,-0.938031,-0.189269,1.169848,-0.188642,-0.228270,-0.194801,-0.231610,1.092477
3330,RI,28,510,0,0,0,0,0.018817,0.426744,0.019190,1.731670,-2.113894,1.732089,-0.177405,-0.465425,-0.175460,1.383570,0.617806,1.386915,0.332305
3331,CT,184,510,1,0,0,0,0.624684,0.227432,0.625059,-0.815958,-0.808845,-0.815080,-1.219445,1.885279,-1.221213,-1.875929,2.243020,-1.876669,0.332305
3332,TN,74,415,0,1,25,0,1.002892,0.626055,1.003052,1.280117,-0.909233,1.279723,0.801362,-1.180856,0.799990,1.240296,-0.194801,1.240982,-1.188040

Setelah data dinormalisasi, selanjutnya ialah PCA

- menghitung covariance matrix
$$
        Cov (\sum) = \begin{pmatrix}
        cov (x_1,x_1) & cov(x_1,x_2) & ... & cov(x_1,x_m) \\
        | & | & | & | \\
        cov (x_m,x_1) & cov(x_m,x_2) & ... & cov(x_m,x_m)
        \end{pmatrix}
$$
  di mana \(X\) adalah matriks data yang memiliki dimensi \(n x m\), dengan \(n\) adalah jumlah sampel dan \(m\) adalah jumlah fitur.
- menghitung eigenvalue dan eigenvector
$$ AX = λX $$

In [ ]:
# Import numpy and pandas libraries
import numpy as np
import pandas as pd

# Define a function to do a PCA
def do_pca(data, n_components):
  # data: a numpy array of shape (n_samples, n_features)
  # n_components: an integer specifying the number of principal components to keep
  # returns: a numpy array of shape (n_samples, n_components) containing the projected data

  # Calculate the covariance matrix of the data
  cov_matrix = np.cov(data.T)

  # Calculate the eigenvalues and eigenvectors of the covariance matrix
  eigenvalues, eigenvectors = np.linalg.eig(cov_matrix)

  # Sort the eigenvalues and eigenvectors in descending order
  idx = np.argsort(eigenvalues)[::-1]
  eigenvalues = eigenvalues[idx]
  eigenvectors = eigenvectors[:, idx]

  # Select the first n_components eigenvectors as the principal components
  pc = eigenvectors[:, :n_components]

  # Project the data onto the principal components
  transformed_data = np.dot(data, pc)

  # Return the transformed data
  return transformed_data